<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page.title | default(value=config.title) }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | default(value=config.description) }}">
    <meta name="author" content="Kevin Rineer">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>

<!-- <header> -->
    <!-- <h1>{{ page.title | default(value=config.title) }}</h1> -->
<!-- </header> -->

<main>
<section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
</section>
</main>

<footer>
    <p>Site Copyright &copy; {{ now() | date(format="%Y") }} Kevin Rineer. All rights reserved. All opinions on this site are mine; they are not representative of any of my employers: past, present, and/or future. </p>
    <p>Generated and served with <a href="https://github.com/getzola/zola">Zola</a></p>
</footer>

</body>
</html>

